# node_modules folder - always ignore this
node_modules/

# custom folders or files
0-HomeWork/

# build output
build/

# logs and temporary files
*.log
.DS_Store

# OS-specific and editor-specific files
.env
.vscode/
.idea/
